body{
    background: #ECEFF1;
}
.container{
    margin-top: 3em!important;
}
.userImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}
.userImage img{
    height: 100%!important;
    width: 100%!important;
}
@media only screen and (max-width: 600px){
    .userImage{
        height: 100px!important;
    }
    .userBody{
        height: 100px!important;
    }
    .userBtn{
        height: 100px!important;
        line-height: 40px!important;
    }
    .userBtn input{
        width: 30px;
        font-size: 5px!important;
    }
    #charge{
        color: white!important;
    }
    .smallBtn{
        border-top: 1px solid lightgrey;
        margin-top: 5px;
        padding-top: 15px!important;
    }
    .container .row{
        width: 95%;
    }
    .sm{
        line-height: 100px;
    }
}
.userBody{
    height: 140px;
    padding-left: 1em;
}
.userBody h4{
    font-weight: 600;
}
.userBtn{
    height: 140px;
    line-height: 60px;
    border-left: 1px solid lightgrey; 
}
.userBtn input{
    color: white;
}
#pagePromptBody{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#pagePrompt{
    width: 80%;
    position: fixed;
    height: 300px;
    background: #FFFFFF;
    border-radius: 2em;
    animation: anim .5s linear;
}
#pageLoading, #pageLoadingOverlay{
    width: 80%;
    position: fixed;
    height: 300px;
    background: #FFFFFF;
    border-radius: 2em;
}
#pageLoading{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    z-index: 2;
    display: none;
}
#pageLoadingOverlay{
    opacity: 0.8;
    display: none;
}
#success{
    display: none;
}
#paymentError{
    display: none;
}
#successIcon{
    color: #00e676;
}
@keyframes anim{
    from{
        transform: scale(0);
        transform: translateY(50px);
        opacity: 0;
    }
}
@media only screen and (min-width: 800px){
    #pagePrompt, #pageLoading, #pageLoadingOverlay{
        width: 600px;
    }
}
@media only screen and (max-width: 600px){
    #pagePrompt, #pageLoading, #pageLoadingOverlay{
        height: 390px;
        border-radius: 8px;
    }
}
#pageOverlay{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: black;
    opacity: 0.5;
    z-index: 1;
}
#close{
    font-size: 2em;
    text-align: right;
    font-weight: bold;
    color: inherit;
    transition: color .5s linear;
}
#close:hover{
    color: #d50000;
    cursor: pointer;
}
#warning{
    margin: 10px;
}
#warningIcon{
    color: #d50000;
    line-height: 4.5em;
}
#prompt{
    font-size: 1.3em;
}
#warningBtn{
    margin: 10px;
    float: right;
}